body{
    background-color: slategray;
}

#scoreboard,#titleboard{
    background-color: darkslategray;
    color: floralwhite;
    padding: 4px;
    
}

#gameboard{
    margin: 12px;
}

#instructionboard{
    margin: 12px;
}
.nav-item{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

