#scoreboard{
    background-color: gainsboro;
    padding:5px;
    margin:5px;
    border-style: solid;
    border-width:thin;
    width: 98%;
    border-radius: 5px;
}

.sboarditem{
    text-align: center;
    line-height: 30px;
    height: 30px;
}

#gameboard{
    background-color: lightgray;
    padding:5px;
    margin:5px;
    border-style: solid;
    border-width:thin;
    width: 98%;
    border-radius: 5px;
}