body{
    background-color: slategray;
}

#scoreboard{
    background-color: darkslategray;
    color:floralwhite;
    padding:10px;
}

#gameboard{
    margin: 12px;
}

#instructionboard{
    margin: 12px;
}
.nav-item{
    margin: 5px;
    text-align: center;
}

